.search-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: aliceblue;
    text-shadow: black 2px 4px 4px;
    font-size: 20px;
  }
  
  
  .search-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 700px;
  }
  
  .region-dropdown{
    width: 200px;
    position: absolute;
    left: 75px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
    height: 15px;
  }
  
  .search-bar{
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    font-size: 25px;
    border-style: solid;
    border-color: rgb(236, 88, 32);
    margin: 10px;
  }
  