body{
  background: no-repeat  center url('/public/images/miss_fortune.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.search-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: aliceblue;
  font-size: 20px;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  width: 600px;
  height: 50px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.region-dropdown {
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  background-color: white;
  color: black;
}

.search-bar {
  flex: 1;
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 18px;
  outline: none;
}

.search-icon {
  padding: 0 10px;
  font-size: 20px;
  color: blue;
}
