* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; 
}

body{
  background: no-repeat  center url(../public/ina-wong-xayah-done-comp2000.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


